<div class="fixed">
  <nav class= "top-bar">
    <ul class="title-area">

      <li>
        <h2>Photo DB</h2>
      </li>
      
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

  <section class="top-bar-section">
    
    <ul class="right">
      
      
      <% if user_signed_in? %>   
        <li>
          <%= link_to 'Edit account', edit_user_registration_path %>
        </li>
        <li>
          <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>
        </li>
      <% else %>
        <li>
          <%= link_to 'Login', new_user_session_path %>
        </li>
        <li>
          <%= link_to 'Sign up', new_user_registration_path %>
        </li>
      <% end %>
    </ul>
  </section>
  </nav>
</div>

  <div class= "fixed-icon">
    <%=link_to image_tag("tyson.jpg", :size => "150x200", :class => "logo" ), root_path %>
  </div>
  <div class ="errors">
  <%= render 'layouts/messages' %>
</div>


